.scroll{

    flex-wrap: nowrap;
    overflow-x: scroll!important;
     .scroll-item {
       flex: 0 0 auto;
    }
    font-size: 14px;
    
}
#table-scroll {
    height:100%;
    overflow:auto;  
    margin-top:10px;
}
thead tr th{
    background: #263053;
    color: white;
    text-align: center;
}

  
  tr:nth-child(even) {
    background: lightgray;
  }
  table{
      width: 100%;
  }