<ion-header>
  <ion-toolbar>
    <ion-item>
      <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon>
    <ion-title>View Profile</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content *ngFor="let val of personaldetail" class="profile_page">
  <section class="profile">
    <div class="profile_img">
      <img src="../../../../assets/images/user.jpg" />
    </div>
    <div class="profile_desc">
      <h4>{{val.CustomerName}}</h4>
      <p>{{val.MobileNo}}</p>
      <p>user8991@gmail.com</p>
    </div>
  </section>

  <ion-card class="card_bg">
    <ion-card-header>
      <ion-card-title>
        <h3>
          Private Details <span>(read only)</span>
        </h3>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content fullscreen>
      <ion-list>

        <ion-item>
          <ion-label>Email</ion-label>
          <ion-note slot="end">user8991@gmail.com</ion-note>
        </ion-item>

        <ion-item>
          <ion-label>Mobile Number</ion-label>
          <ion-note slot="end">{{val.MobileNo}}</ion-note>
        </ion-item>

        <ion-item>
          <ion-label>Gender</ion-label>
          <ion-note slot="end">{{val.Gender}}</ion-note>
        </ion-item>


        <ion-item>
          <ion-label>Age</ion-label>
          <ion-note slot="end">{{val.Age}} Years</ion-note>
        </ion-item>


        <ion-item class="address_sec"> 
          <ion-label>Address</ion-label>
          <ion-note slot="end">{{val.AddressForCommunication}}</ion-note>
        </ion-item>

        <!-- <ion-item>
          <ion-label>City </ion-label>
          <ion-note slot="end">Coimbatore</ion-note>
        </ion-item>

        <ion-item>
          <ion-label>State </ion-label>
          <ion-note slot="end">TamilNadu</ion-note>
        </ion-item>


        <ion-item>
          <ion-label> Pincode</ion-label>
          <ion-note slot="end">567577</ion-note>
        </ion-item> -->


        <ion-item>
          <ion-label>Identity </ion-label>
          <ion-note slot="end">{{val.MemberID}}</ion-note>
        </ion-item>


        <ion-item>
          <ion-label> Account Type</ion-label>
          <ion-note slot="end">Authentication</ion-note>
        </ion-item>

      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-tab-bar slot="bottom">
 
  <ion-tab-button [routerLink]="['/subscribe-list/person-detail']">
    <ion-icon name="person"></ion-icon>
    <ion-label>Person</ion-label>
  </ion-tab-button>

  <ion-tab-button [routerLink]="['/subscribe-list']">
    <ion-icon name="home"></ion-icon>
    <ion-label>Home</ion-label>
  </ion-tab-button>

  <ion-tab-button [routerLink]="['/subscribe-list/subscriber-recepit']">
    <ion-icon name="reader-outline"></ion-icon>
    <ion-label>Receipt</ion-label>
  </ion-tab-button>
  
  <ion-tab-button [routerLink]="['/reset']">
    <ion-icon name="refresh"></ion-icon>
    <ion-label>Reset</ion-label>
  </ion-tab-button>
</ion-tab-bar>