<ion-header>
  <ion-toolbar>
    <ion-title>subscriber-payment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <form [formGroup]="PaymentForm" (ngSubmit)="submit()">
  
      <ion-list formGroupName="AmountDetails">

       <ion-list-header>
          <ion-label>Chit Details</ion-label> 
        </ion-list-header>
        <div *ngFor="let data of AmountDetails().controls; let i=index " [formGroupName]="i">
          <ion-card>
        <ion-item>
          <ion-label position="floating">Amount Received</ion-label>
          <ion-input formControlName="AmountReceived"></ion-input>
        </ion-item>
       
        <ion-item>
          <ion-label position="floating">interest</ion-label>
          <ion-input formControlName="interest"></ion-input>
        </ion-item>
       
        <ion-item>
          <ion-label position="floating">Other Amount</ion-label>
          <ion-input formControlName="OtherAmount"></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-label position="floating">Write Narrations</ion-label>
          <ion-input formControlName="Narrations"></ion-input>
        </ion-item>
       
        <!-- <ion-button (click)="removeRow(i)">remove</ion-button> -->
      </ion-card>
      </div>
      </ion-list>
      <!-- <ion-button (click)="addrow()">add</ion-button> -->
      <ion-button  type="submit" expand="block">Submit <ion-icon slot="end"
          name="create">
        </ion-icon>
      </ion-button>
    
    </form>
   </div>
  
   

</ion-content>

<ion-tab-bar  slot="bottom">
  <ion-tab-button  [routerLink]="['/subscribe-list']">
    <ion-icon name="home"></ion-icon>
    <ion-label>Home</ion-label>
  </ion-tab-button>
  <ion-tab-button  [routerLink]="['/subscribe-list/person-detail']">
    <ion-icon name="person"></ion-icon> 
     <ion-label>Person</ion-label>
  </ion-tab-button>
  <ion-tab-button  [routerLink]="['/subscribe-list/subscriber-recepit']">
    <ion-icon name="paper"></ion-icon>
    <ion-label>Receipt</ion-label>
  </ion-tab-button>
</ion-tab-bar>