<ion-header>
  <ion-toolbar>
    <ion-title>subscriber-payment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <form [formGroup]="PaymentForm" (ngSubmit)="submit()">
  
      <ion-list formGroupName="AmountDetails">

       <ion-list-header>
          <ion-label>Chit Details</ion-label> 
        </ion-list-header>
        <div *ngFor="let data of AmountDetail().controls; let i=index " [formGroupName]="i">
         
          <ion-card >
       <ion-item>
         <ion-grid>
           <ion-row size="12">
              <ion-col class ="first"size="9"><ion-label style="font-size: 10px">Total Chit Value:</ion-label> </ion-col>
              <ion-col class="second" size="3"><ion-label style="font-size: 10px">CU-08-20</ion-label> </ion-col>
           </ion-row>
         </ion-grid>
       </ion-item>
        <ion-item>
          <ion-col size="12">
            <ion-row size="6"> <ion-label >Amount Payable</ion-label></ion-row>
            <ion-row size="6"> <ion-input  formControlName="AmountPayable" type="number" value="" (ionChange)="total()"></ion-input></ion-row>
          </ion-col>
         </ion-item>
       
        <ion-item>
         <ion-col size="12">
          <ion-row size="6"><ion-label >Interest Amount</ion-label></ion-row>
          <ion-row size="6"> <ion-input   formControlName="Interest" type="number" value="" readonly></ion-input></ion-row>
        </ion-col>
        </ion-item>
 
        <ion-item>
          <ion-col size="12">
           <ion-row size="6"><ion-label >Arrear Amount</ion-label></ion-row>
           <ion-row size="6"> <ion-input   formControlName="Arrearamount" type="number" value="" readonly></ion-input></ion-row>
         </ion-col>
         </ion-item>
        <!-- <ion-item>
          <ion-label position="floating">Other Amount</ion-label>
          <ion-input formControlName="OtherAmount"></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-label position="floating">Write Narrations</ion-label>
          <ion-input formControlName="Narrations"></ion-input>
        </ion-item> -->
       
        <!-- <ion-button (click)="removeRow(i)">remove</ion-button> -->
      </ion-card>

      </div>
      </ion-list>
      <!-- <ion-button (click)="addrow()">add</ion-button> -->
    <ion-item>
  <ion-label>Grand Total:{{this.num}}</ion-label>

</ion-item>
     
      <ion-button  type="submit" expand="block">Submit <ion-icon slot="end"
          name="create">
        </ion-icon>
      </ion-button>
    
    </form>
   </div>
  
   

</ion-content>

<ion-tab-bar  slot="bottom">
  <ion-tab-button  [routerLink]="['/subscribe-list']">
    <ion-icon name="home"></ion-icon>
    <ion-label>Home</ion-label>
  </ion-tab-button>
  <ion-tab-button  [routerLink]="['/subscribe-list/person-detail']">
    <ion-icon name="person"></ion-icon> 
     <ion-label>Person</ion-label>
  </ion-tab-button>
  <ion-tab-button  [routerLink]="['/subscribe-list/subscriber-recepit']">
    <ion-icon name="reader-outline"></ion-icon>
    <ion-label>Receipt</ion-label>
  </ion-tab-button>
</ion-tab-bar>