<ion-header>
  <ion-toolbar>
    <ion-title>subscribe-list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar></ion-searchbar>
  <ion-label>No.of Chits:{{noOfChits}}</ion-label>
  <ion-card class="card" *ngFor="let val of userlist">
    <ion-row  size="12">
      <ion-col size="2"> 
    
      <span><ion-checkbox color="primary" class="check" slot="start" [(ngModel)]="val.selected" ></ion-checkbox></span>

    </ion-col>
      <ion-col  size="8">
        <ion-row>
          <ion-label>New Cover Change</ion-label>
        </ion-row>
        <ion-row>
          <ion-label>Current inst no:{{val.currentinstno}}</ion-label>
        </ion-row>
        <ion-row>
          <ion-label>Arrear Amount:{{val.arrearamount}}</ion-label>
        </ion-row>
      </ion-col>
      <ion-col size="2" > <ion-label >{{val.status}}</ion-label></ion-col>
     </ion-row>
   <div class="divide">
</div>
<ion-row size="12">
<ion-col>current Due:{{val.currentdue}}</ion-col>
<ion-col>Total paid:{{val.totalpaid}}</ion-col>
</ion-row>
</ion-card>

<ion-button (click)="processdata()">next</ion-button>
</ion-content>
