<!-- <ion-header>
  <ion-toolbar>
    <ion-title>subscribe-list</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-row size="12"> 
    <ion-col  class="profile3">
      <ion-row size="8">{{customername}}</ion-row>
      <ion-row size="8">JKR9D342</ion-row>
    </ion-col>
    <ion-col class="profile2" size="2">
      <ion-avatar><img src="https://www.lifewire.com/thmb/1na-tdifkQUT1obPOp7r0AwP2Bc=/1373x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/ScreenShot2020-04-20at10.06.28AM-69855f4797cb4be4bbed72f51dff1ab5.jpg"></ion-avatar>
    </ion-col>
    <ion-col class="profile1" size="2">
      <ion-icon name="ellipsis-vertical-outline" (click)="logout()"></ion-icon>
    </ion-col>
  </ion-row>
  <!-- <ion-searchbar></ion-searchbar> -->
  <input type="text" class="form-control" placeholder="Search Here" [(ngModel)]="term"><br>
  <ion-label *ngIf="chit_length !=0">No.of :{{chit_length}}</ion-label>
  <ion-card class="card" *ngFor="let val of userlist3 | filter:term; let i=index" >     
    <ion-row size="12">
      <ion-col size="2" >
        <!-- *ngIf="status(i,val.status)||val.status===checkbox -->
    <ion-checkbox (ionChange) = "passParams($event,val)" ></ion-checkbox>
      </ion-col>
      <ion-col size="8">
        <ion-label>Chit No:{{val.ChitNo}}</ion-label><br>
        <ion-label>Branch Name:{{val.BranchName}}</ion-label><br>
        <ion-label>Current inst no:{{val.Runningcall}}</ion-label><br>  
        <ion-label >Arrear Amount:{{val.IsPrized === 'Y'?val.PrizedArrier:val.NonPrizedArrier}}</ion-label>
        
   <br>     
        <ion-label>Interest Amount:0.00</ion-label>  
      </ion-col>
      <ion-col size="2">
        <ion-label>{{val.IsPrized === 'Y'?'Prized':'Non-Prized'}}</ion-label>
      </ion-col>           
    </ion-row>
   <div class="divide">
 </div>
<ion-row size="12">
<ion-col size="6">current Due:{{val.Debit}}</ion-col>
<ion-col size="6">Total paid:{{val.totalpaid}}</ion-col>
</ion-row>
</ion-card>
<ion-button (click)="processdata()">continue</ion-button>

</ion-content>

<ion-tab-bar  slot="bottom">
  <ion-tab-button  [routerLink]="['/subscribe-list']">
    <ion-icon name="home"></ion-icon>
    <ion-label>Home</ion-label>
  </ion-tab-button>
  <ion-tab-button  [routerLink]="['/subscribe-list/person-detail']">
    <ion-icon name="person"></ion-icon> 
     <ion-label>Person</ion-label>
  </ion-tab-button>
  <ion-tab-button  [routerLink]="['/subscribe-list/subscriber-recepit']">
    <ion-icon name="reader-outline"></ion-icon>
    <ion-label>Receipt</ion-label>
  </ion-tab-button>
</ion-tab-bar>