.divide{
    background-color: black;
    height: 2px ;
}
.card{
    height: 100px;
}
img{
    height: 40px;
    width: 40px;
}
ion-icon{
    height: 40px;
    width: 25px;
}
.profile3{
    height: 40px;
    margin-left: 10px;
}
.profile2{
    height: 40px;
    
}
.profile1{
    height: 40px;
    // margin-left: 10px;
}