<ion-header>
  <ion-toolbar>
    <ion-title>forgot-password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="forgotForm" (ngSubmit)="submitsForm()">
    <ion-list>
      <ion-item lines="full" >
        <ion-label position="floating">Customer Id</ion-label>
        <ion-input formControlName="Customer" type="text"></ion-input>
      </ion-item>
  
      <ion-item lines="full">
        <ion-label position="floating" >Enter mobile number</ion-label>
        <ion-input formControlName="mobile" type="number" ></ion-input>
    </ion-item >
    <ion-button *ngIf="forgot==true" >Re-Send OTP</ion-button>
    <ion-button [disabled]="!forgotForm.valid||forgot==true" type="ngSubmit"  >Send OTP</ion-button>
  
</ion-list>
  </form>
  <form [formGroup]="forgotForms"  *ngIf="forgot==true" (ngSubmit)="otpform()">
    <ion-item lines="full">
      <ion-label position="floating">Enter OTP</ion-label>
      <ion-input formControlName="OTP" type="number"></ion-input>
  </ion-item >
  <ion-button   type="ngSubmit">Next</ion-button>
  

  </form>
  <ion-item>
    <ion-label (click)="back()">back</ion-label>
  </ion-item>
</ion-content>
