<ion-header>
  <ion-toolbar>
    <ion-title>login page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

   <form [formGroup]="loginForm" (ngSubmit)="submitForm(loginForm.value)" >
        <ion-list>
          <ion-item lines="full" >
            <ion-label position="floating">Customer Id</ion-label>
            <ion-input formControlName="name" type="text"></ion-input>
          </ion-item>
          <ion-item lines="full">
            <ion-label position="floating">password</ion-label>
            <ion-input formControlName="password" type="password"></ion-input>
        </ion-item >         
        <ion-item>
          <ion-button [disabled]="!loginForm.valid" type="ngSubmit">login</ion-button>
        </ion-item>
        <ion-item lines="full" >
      <ion-button slot="end" (click)="Forgot()">Forgot password</ion-button>
          </ion-item>
         </ion-list>
   </form>
  
</ion-content>
