<ion-header>
  <ion-toolbar>
    <ion-item>
      <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon>
      <ion-title>reset-password</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="resetForm" (ngSubmit)="submitsForm()">
  <ion-list>
  
    <ion-item lines="full">
      <ion-label position="floating">new password</ion-label>
      <ion-input formControlName="newpass" (keypress)="CheckSpace($event)" [type]="show ? 'text' : 'password'"></ion-input>
      <ion-button (click)="show=!show" slot="end">
        <ion-icon name="eye-off" *ngIf="!show"></ion-icon>
        <ion-icon name="eye" *ngIf="show"></ion-icon>
      </ion-button>
  </ion-item >
  <div class="text-danger">
    <ng-container *ngFor="let validation of validation_messages.newpass">
      <div class="error-message" *ngIf="resetForm.get('newpass').hasError(validation.type) && (resetForm.get('newpass').dirty || resetForm.get('newpass').touched)">
        {{ validation.message }}
      </div>
      </ng-container>
      </div>
  <ion-item lines="full">
    <ion-label position="floating">confirm password</ion-label>
    <ion-input formControlName="confirmpass" (keypress)="CheckSpace($event)" [type]="show ? 'text' : 'password'"></ion-input>
    <ion-button (click)="show=!show" slot="end">
      <ion-icon name="eye-off" *ngIf="!show"></ion-icon>
      <ion-icon name="eye" *ngIf="show"></ion-icon>
    </ion-button>
</ion-item >
<div class="text-danger">
  <ng-container *ngFor="let validation of validation_messages.confirmpass">
    <div class="error-message" *ngIf="resetForm.get('confirmpass').hasError(validation.type) && (resetForm.get('confirmpass').dirty || resetForm.get('confirmpass').touched)">
      {{ validation.message }}
    </div>
    </ng-container>
    </div>
  <ion-button  [disabled]="!resetForm.valid" type="ngSubmit">Change Password</ion-button>
  <ion-item><ion-label (click)="back()">Back</ion-label></ion-item>
  </ion-list>
</form>
</ion-content>
