<ion-header>
  <ion-toolbar>
    <ion-title>reset-password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="resetForm" (ngSubmit)="submitsForm()">
  <ion-list>
  
    <ion-item lines="full">
      <ion-label position="floating">new password</ion-label>
      <ion-input formControlName="confirmpass"  type="password"></ion-input>
  </ion-item >
  <ion-item lines="full">
    <ion-label position="floating">confirm password</ion-label>
    <ion-input formControlName="newpass" type="password"></ion-input>
</ion-item >
  <ion-button  [disabled]="!resetForm.valid" type="ngSubmit">change password</ion-button>
  <ion-item><ion-label (click)="back()">back</ion-label></ion-item>
  </ion-list>
</form>
</ion-content>
