<ion-header>
  <ion-toolbar>
    <ion-item>
      <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon>
      <ion-title>Terms & condition</ion-title>
    </ion-item>

  </ion-toolbar>
</ion-header>

<ion-content>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tincidunt molestie magna, quis porta dui commodo quis. Cras vel facilisis tortor. Pellentesque facilisis metus id nisl interdum suscipit. Vivamus et mauris velit. Duis posuere enim id erat lobortis ornare. Pellentesque tincidunt, nunc vitae faucibus molestie, arcu quam elementum massa, ut auctor augue orci eu nisl. Sed pretium hendrerit tincidunt. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut viverra, sem vitae consectetur ullamcorper, ipsum mauris imperdiet mi, a lacinia libero eros non diam. Etiam eu massa pellentesque, bibendum lorem ut, imperdiet dui. Curabitur quis tortor congue lacus hendrerit interdum in eget lorem. Nullam non ante quis est facilisis consectetur tempus sed odio. Donec lobortis elit lectus. Aenean dapibus interdum nunc quis aliquam. Sed sed dolor augue.
</p>
</ion-content>
