<!-- <ion-header>
  <ion-toolbar>
    <ion-title>payment-success</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="ion-padding svcf_recepit_page">
  
  <div *ngFor="let data of receiptdata;let i=index">
    <ion-card class="card_bg">
      <ion-card-content>
          <div class="ofz_img">
            <img src="../../../assets/images/img.png">
            <div class="branch_name">
              <p>Branch Name:<span>{{data[0].BranchName}}</span></p>
              <p>Form No: <span>VF1</span></p>
            </div>
          </div>

          <div class="logo">
            <img src="../../../assets/images/logo.png">
          </div>

          <div class="ofz_address">
            <h1>SREE VISALAM CHIT FUND LTD.</h1>
            <p>Register Office: Tirunelveli - 3</p>
            <p>(See Section 23 and Rule 25) </p>
            <p>Receipt issued under the chit funds Act 1982</p>
          </div>

          <!-- <section class="ofz_time">
            <p>
              21.11.2020 / 04.00 PM
            </p>
          </section> -->
          <div class="receipt_content">
            <h3>
              CD/REC.SERIES
            </h3>
            <div class="receipt_no">
              <p>AGT No: <span>#{{data[0].AgreementNo}}</span></p>
              <p>Online Payment Receipt No: <span>{{data[0].AppReceiptno}}</span></p>
            </div>
            <table class="table receipt_amts">
              <tbody>
              
                <tr>
                  <th>  ChitNumber</th>
                  <td>:</td>
                  <td>{{data[0].ChitNumber}}</td>
                </tr>
                <tr>
                  <th>Received From</th>
                  <td>:</td>
                  <td>{{data[0].CustomerName}}</td>
                </tr>

                <tr>
                  <th>Current Inst No</th>
                  <td>:</td>
                  <td>{{data[0].CurrentInstno}}</td>
                </tr>

                <tr>
                  <th>Arrears</th>
                  <td>:</td>
                  <td>Rs.{{this.arrears[i]}}</td>
                </tr>
                <tr>
                  <th>Penalty For Over Due</th>
                  <td>:</td>
                  <td>Rs. {{data[0].Interest}}</td>
                </tr>
                <tr>
                  <th>Other Receipts</th>
                  <td>:</td>
                  <td>Rs.{{data[0].OtherReceipts}}</td>
                </tr>
                <tr>
                  <th>Total paid</th>
                  <td>:</td>
                  <td>Rs. {{data[0].TotalPaid}}</td>
                </tr>
                <tr>
                  <th>Series</th>
                  <td>:</td>
                  <td>{{data[0].Series}}</td>
                </tr>
                <tr>
                  <th>ReceiptDate</th>
                  <td>:</td>
                  <td>{{data[0].ReceiptDate}}</td>
                </tr>

              </tbody>
            </table>
          </div>
      </ion-card-content>
    </ion-card>
  </div>
  <ion-button color="success" expand="full" (click)="paymentsuccess()">Done</ion-button>
  
</ion-content>
